# Ignore node_modules folder
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore build output
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/
*.swp

# Ignore dependency directories
__pycache__/
*.py[cod]

# Ignore compiled files
*.o
*.so
*.out
*.class

# Ignore Python virutual environments
venv/
.venv/

# Ignore Spyder project settings
.spyproject/

